version: '3'
services:
  db:
    command: --default-authentication-plugin=mysql_native_password
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: password
    image: mysql:8.0
    ports:
      - 3306:3306
    volumes:
      - data-volume:/var/lib/mysql
      - ./.my.cnf:/etc/mysql/conf.d/my.cnf
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
  migration:
    image: flyway/flyway
    depends_on:
      - db
    container_name: migration
    volumes:
      - ./database/migration/schema:/flyway/sql

  backend:
    build:
      context: ./backend
    command: reflex -r '\.go$$' -s -- sh -c 'go run cmd/api/main.go -databaseDatasource="${DATABASE_DATASOURCE}" -port=1991'
    container_name: backend
    ports:
      - 1991:1991
    volumes:
      - ./backend:/app
    working_dir: /app
    networks:
      - nginx_network

  frontend:
    build:
      context: ./frontend
    command: npm run dev
    container_name: frontend
    ports:
      - 3000:3000
    environment:
      - BACKEND_API_BASE=http://localhost:1991
    volumes:
      - ./frontend:/app
      - node_modules-volume:/app/node_modules
    working_dir: /app
    networks:
      - nginx_network
      
networks:
  nginx_network:
    driver: bridge