.text_mypage{
  font-size: 150%;
  color: rgb(50, 50, 50);
  border-bottom: solid 1px rgb(50, 50, 50);
  width: 9vw;
  margin-top: 4vh;
  margin-left: 2vw;
}

.myCard_mypage{
  display: flex;
  overflow-x:scroll;
  width: 100vw;
}

.favoCard_mypage{
  display: flex;
  overflow-x:scroll;
  width: 100vw;
}