.cardArea_participate{
  width: 100vw;
}

.text_participate{
  text-align: center;
  font-size: 120%;
  color: rgb(50, 50, 50);
}

.input_participate{
  text-align: center;
}

.cardArea_participate{
  display: flex;
  width: 50vw;
  margin-left: 25vw;
  margin-right: 25vw;
  flex-wrap:wrap;
}